*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: #121534; */
    font-family: "Montserrat", sans-serif;
}
.owl-dots{
    display: none;
}
.owl-nav{
    display: none;
}
.padding{
    padding: 100px 0;
}
.align-row{
    align-items: center;
}
img{
    width: 100%;
}
a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}
ul{
    list-style-type: none;
    padding-left: 0 !important;

}
.sub-hd{
    font-size: 24px;
    color: #4f5de4;
    margin-bottom: 20px;
}
.hd{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}
.para{
    color: #f1f2fd;
    font-size: 16px;
}
/*--------------------------------------------------- header section start */
.header{
    background-color: #222222;
}
.navbar-brand img{
    width: 35%;
}
.navbar {
    font-weight: 600;
    padding: 15px 0px;
}
.navbar-light .navbar-nav .nav-link.active {
    color:#03CAD6 !important;
}
.nav-link {
    color:#fff !important;
    padding: 15px !important;
}
.nav-link:hover{
    color: #03CAD6 !important;
  }
/* .d-flex{
    align-items: center;
}
.d-flex a{
    margin: 0 10px;
    color: #fff;
} */
 .me-auto {
    margin-right: 0 !important;
}

/*--------------------------------------------------- banner section start */
.banner{
    background-color: #151515;
    position: relative;
    height: 972px;
}
.ban-back {
    width: 50%;
    position: absolute;
    right: 28%;
    bottom: 0%;
    z-index: 99;
}
.ban-text{
    position: relative
}
.head01{
    color: #fff;
    font-size: 75px;
    font-weight: 500 !important;
}
.ban-row{
    align-items: center;
}
.banner{
    width: 100%;
    background: url(../img/banner_bg.png);
    background-size: cover;
    background-position: center;
}
.ban-text01 {
    position: absolute;
    left: 67%;
    bottom: 15%;
    z-index: 99;
}
/*--------------------------------------------------- about section start */

.about{
    background-color: #222222;
}
.about-bx img{
    width: 70%;
}

.about-row{
        --bs-gutter-x: 0;
}
.abt-bx{
    padding: 165px 0;
}
.about-text p {
    font-size: 24px;
    color: #fff;
    margin-bottom: 50px;
}
.btn01 {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #03CAD6;
  padding: 15px 50px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  border-radius: 5px;
}